.list {
    width: 100%;
    max-width: 800px;
}

.card {
    margin-top: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.image {
    flex-shrink: 0;
}

.like {
    margin-right: 12px;
}
