.container {
    max-width: 1536px;
    margin: 0 auto;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgb(0 0 0 / 20%);
    margin: 20px 30px;
    background: #00ffff url(https://bogatyr.club/uploads/posts/2021-11/thumbs/1636931592_2-bogatyr-club-p-fon-puziri-2.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.rightContent,
.leftContent {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    background: rgba(250, 250, 250, 40%);
    flex-basis: 40%;
    z-index: 1;
}

.content form input,
.content form textarea {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    min-width: 160px;
    min-height: 40px;
    border: none;
    border-radius: 10px;
    color: black;
    background: rgba(250, 250, 250, 40%);
    font: 18px/1.4 'Helvetica', Arial, Lucida Grande, sans-serif;
}

.content form textarea {
    resize: none;
    flex: 1;
    outline: none;
}

.content form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.adressIn {
    margin-bottom: 10px;
}

.adressIn p, .adressOut p {
    margin-right: 40px;
}

input:focus {
    border: none;
    outline: none;
}

.leftContent input {
    padding: 2px 3px;
}

.btnSave {
    margin: 20px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btnDownload {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 30px;
}

.downloadField {
    display: none;
}
